*{
  margin: 0;
}

header {
  background-color: rgb(255, 105, 105);
  display: flex;
  color: white;
  min-height: 4.5rem;
  justify-content: center;
  align-items: center;
}

header > h1 {
  margin-left: 1rem;
  font-family: alata;
}

